<%layout("/layouts/boilerplate.ejs") %>

<title>Bold N Blizz: Order Updates</title>

<body>
  <div class="main-content">
    <div class="section-header"><h1>Order Updates</h1></div>

    <%- include("../layouts/exec-func.ejs") %>

    <div class="card card-table">
      <div class="row pb-3 row-head">
        <div class="col">
          <label for="location" class="label">Location: </label>
          <span class="location label-text">Bahawalpur - 69123</span>
        </div>
        <div class="col date">
          <div class="start">
            <label for="start-date" class="label">Start Date:</label>
            <span class="start-date label-text"><%= startDate %></span>
          </div>
          <div class="end">
            <label for="end-date" class="label">End Date:</label>
            <span class="end-date label-text"><%= endDate %></span>
          </div>
        </div>
        <div class="col">
          <label for="total-orders" class="label">Total Updates:</label>
          <span class="total-orders label-text"><%= total %></span>
        </div>
      </div>
      <% if (dailyUpdates.length > 0) { %>
      <div class="row mt-3 pb-2">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="th-datatable">Sr. No</th>
                  <th class="th-datatable">Consignment Number</th>
                  <th class="th-datatable">Customer Name</th>
                  <th class="th-datatable">Customer Phone No.</th>
                  <th class="th-datatable">Booking</th>
                  <th class="th-datatable">Destination</th>
                  <th class="th-datatable">Destination Branch</th>
                  <th class="th-datatable">Status</th>
                  <th class="th-datatable">Reason</th>
                  <th class="th-datatable">Attempts</th>
                  <th class="th-datatable">Delivery Time</th>
                  <th class="th-datatable">COD Amount</th>
                  <th class="th-datatable">GST</th>
                  <th class="th-datatable">Total Amount</th>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <input
                      type="number"
                      class="table-search"
                      placeholder="Consignment Number"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="table-search"
                      placeholder="Customer Name"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="table-search"
                      placeholder="Phone Number"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="table-search"
                      placeholder="Booking Date"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="table-search"
                      placeholder="Origin/Destination"
                    />
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <input
                      class="table-search"
                      type="text"
                      placeholder="Delivery Date"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="table-search"
                      placeholder="COD Amount"
                    />
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <% dailyUpdates.forEach((dailyUpdate, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= dailyUpdate.CN %></td>
                  <td><%= dailyUpdate.consignee %></td>
                  <td><%= dailyUpdate.consigneePH %></td>
                  <td><%= dailyUpdate.booking %></td>
                  <td><%= dailyUpdate.dest %></td>
                  <td><%= dailyUpdate.destBR %></td>
                  <td><%= dailyUpdate.status %></td>
                  <td><%= dailyUpdate.reason %></td>
                  <td><%= dailyUpdate.attempts %></td>
                  <td><%= dailyUpdate.deliveryTime %></td>
                  <td><%= dailyUpdate.COD %></td>
                  <td><%= dailyUpdate.gst %></td>
                  <td><%= dailyUpdate.totalAmount %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
